/* Scrollbar */

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* Universal */

a {
    color: white;
    text-decoration: none;
}

body {
    background-image: url('/images/background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

/* index.html */

#intro {
    height: 100%;
    width: 100%;
}

#intro>p {
    margin: 20% 20% 0% 20%;
    color: white;
    font-size: 3.5vmax;
    font-family: 'Cousine', sans-serif;
    text-align: left;
}
